body{
    background-color: black; 
}

.card-container {
    display: flex;
    justify-content: space-between;
  }
 
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 30%; /* Adjust width as needed */
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
  }
  
  .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .rounded-icon {
    width: 40px;
    height: 40px;
    display: flex;
  justify-content: center;
  align-items: center;
    font-size: 2em;
    padding: 5px;
    border-radius: 5em;
    background-color:rgba(255, 192, 203, 0.5);
    color: orange;
    font-weight: bold;
position: relative;
top: 17px;
  }
  .rounded-icon i {
    font-size: 3em; /* Adjust the icon size using em units */
  }
  .card-number {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .card-text {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    
  }
  .chart {
    border-radius: 15px; /* Adjust the border-radius to your preference */
    border: 2px solid transparent; /* Transparent border */
    background-color: white; /* White background */
    padding: 10px; /* Add padding for better appearance */
    display: inline-block;
    margin-left: 1em;
    margin-top: 2em;
    box-shadow: 5px 5px 5px gray;
  }

   /* CardStyles.css */


/* In your Admin.css file or a separate CSS file */

.block-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px; /* Adjust the margin as needed */
}

.block {
  flex: 1 1 calc(50% - 20px);
  height: auto; /* Adjust the height as needed */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Transparent shadow */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin: 10px;
}

@media (max-width: 768px) {
  .block {
    flex: 1 1 calc(50% - 20px); /* Two blocks per row */
  }
}

/* Media query for mobiles */
@media (max-width: 480px) {
  .block {
    flex: 1 1 calc(100% - 20px); /* Single block per row */
  }
}


/* Add borders between blocks except for the last one */
.block:not(:last-child) {
  border-right: 2px solid #ccc; /* Line between blocks */
}
.block-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-container {
  flex-grow: 1; /* Allows the text to take available space */
}
/* Text style */
.block-text {
  margin: 0;
 font-weight: bold;
  font-size: 16px;
}
.number-container {
  margin-left: 10px; /* Adjust as needed */
}
/* Number style */
.block-number {
  margin-left: 0;
  font-size: 15px;
margin-bottom: 9em;
 color: gray;
 font-weight: 500;
}
.block-numberr{
  margin-top: 1em;
  font-weight: bold;
  font-size: 25px;
}
.progress {
  height: 5px;
  width: 100%;
  margin-top: auto; /* Push the progress bar to the bottom of the card */
}

/* Custom styling for the orange progress bar */
.progress-bar {
  background-color: orange !important;
}
.block-texttt{
  font-weight: bold;
  margin-top: 0.5em;
}

/* NewBlocks.css */

/* Add these styles to your Admin.css file */

.new-block-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.new-block {
  width: calc(33.3% - 1rem);
  padding: 1rem;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.new-block-header {
 
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.new-block-header h2 {
  font-size: 1.5rem;
  margin: 0;
  color: #333;
}

.new-card {
  border: 1px solid black;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 3px 3px 3px lightgray;
}

.card-text-left {
  margin-bottom: 1em;
}

.card-text-right {
  text-align: right;
  margin: 0;
}

.progress-bar-container {
  margin-top: 0;
}

.progresss-bar {
  height: 5px;
  background-color: lightgray;
  width: 100%; /* Adjust the width as needed */
  border-radius: 5px;
}
.progresss-bar-inner {
  height: 100%;
  width: 10%; /* Adjust the width to represent 20% progress */
  background-color: orange; /* Color of the filled portion */
  border-radius: 5px;
}
.progresss-bar-inner2 {
  height: 100%;
  width: 20%; /* Adjust the width to represent 20% progress */
  background-color: orange; /* Color of the filled portion */
  border-radius: 5px;
}
.progresss-bar-inner3 {
  height: 100%;
  width: 70%; /* Adjust the width to represent 20% progress */
  background-color: green; /* Color of the filled portion */
  border-radius: 5px;
}
.progresss-bar-inner4 {
  height: 100%;
  width: 85%; /* Adjust the width to represent 20% progress */
  background-color: red; /* Color of the filled portion */
  border-radius: 5px;
}
.progresss-bar-inner5 {
  height: 100%;
  width: 15%; /* Adjust the width to represent 20% progress */
  background-color: blue; /* Color of the filled portion */
  border-radius: 5px;
}

.small-block {
  display: inline-block;
  width: 200px; /* Adjust width as needed */
  height: 80px; /* Adjust height as needed */
  border: 1px solid transparent;
  background-color: rgba(211, 211, 211, 0.336);
  text-align: center;
  margin-right: 25px; /* Add space between the blocks */
  margin-bottom: 10px; /* Add space between the blocks */
}
/* ProgressBar.css */

/* Styles for the new block, header, and small blocks remain the same */

.progressss-bar {
  display: flex;
  height: 20px;
  margin-top: 10px;
}

.progress {
  height: 100%;
  border-radius: 10px;
}

.purple-bar {
  background-color: purple;
  color: white;
  display: flex;
  justify-content: center;
}

.yellow-bar {
  background-color: orange;
  color: white;
  display: flex;
  justify-content: center;
}

.green-bar {
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
}

.red-bar {
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
}

.blue-bar {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
}
.completed-tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.completed-icon {
  display: flex;
  align-items: center;
}

.icon {
  color: purple;
  font-size: 14px;
  margin-right: 5px;
}
.icon2 {
  color: orange;
  font-size: 14px;
  margin-right: 5px;
}
.icon3 {
  color: green;
  font-size: 14px;
  margin-right: 5px;
}
.icon4 {
  color: red;
  font-size: 14px;
  margin-right: 5px;
}
.icon5 {
  color: blue;
  font-size: 14px;
  margin-right: 5px;
}
.completed-text {
  font-size: 14px;
  font-weight: 500;
}

.completed-count {
  font-size: 16px;
  color: black;
  font-weight: 500;
}
.absent-number {
  display: inline-block;
  background-color: rgba(240, 128, 128, 0.467); /* Light red background color */
  border-radius: 5px; /* Border radius */
  padding: 1px 8px; /* Adjust padding as needed */
  margin-left: 10px; /* Adjust the margin for spacing */
  color: rgba(255, 0, 0, 0.752); /* Text color */
}
/* DifferentBlock.css */

.different-block {
  border: 1px solid #ccc; /* Gray border */
  padding: 10px;
  /* Additional styles for the block */
}
.different-block2 {
  border: 1px solid #ccc; /* Gray border */
  padding: 10px;
  margin-top: 15px;
  /* Additional styles for the block */
}
.different-block-content {
  display: flex;
  align-items: center;
}

.person-icon {
  font-size: 24px; /* Adjust the size of the icon */
  margin-right: 10px; /* Adjust margin for spacing */
  /* Additional styles for the person icon */
}

.person-name {
  font-weight: bold; /* Optionally, add styles for the person name */
}
.additional-text {
  margin-top: 10px; /* Adjust margin for spacing */
 
}

.additional-text p {
  margin: 0; /* Remove default margin */
  font-weight: 500; /* Optionally, add styles for the text */
}
.leave-pending {
  display: flex;
  justify-content: space-between;
  margin-top: 0; /* Adjust margin for spacing */
  padding: 5px; /* Padding for the container */
 
  border-radius: 5px; /* Border radius */
}

.leave-date {
  font-weight: bold; /* Optionally, add styles for the text */
}

.pending-text {
  color: red; /* Red text color */
  font-weight: bold;
  font-size: 12px;
  border: 1px solid #ccc; /* Gray border */
  border-radius: 8px; /* Border radius */
  padding: 3px 8px; /* Padding for the text */
  background-color: rgba(255, 0, 0, 0.377); /* Red background color */
}


.pending-text2 {
  color: green; /* Red text color */
  font-weight: bold;
  font-size: 12px;
  border: 1px solid #ccc; /* Gray border */
  border-radius: 8px; /* Border radius */
  padding: 3px 8px; /* Padding for the text */
  background-color: rgba(0, 128, 0, 0.296); /* Red background color */
}
.load-more {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust margin for spacing */
}

.load-more-button {
  padding: 10px 20px; 
  background-color: orange; 
  color: white;
  border: none;
  border-radius: 5px;
  
  
}

.load-more-button:hover {
  background-color: rgba(255, 166, 0, 0.747); 
}

@media only screen and (max-width: 767px) {
  .new-block {
    width: 100%; /* Occupy full width */
    margin-bottom: 1rem; /* Add space between blocks */
  }

  .new-block-container {
    flex-direction: column; /* Stack blocks vertically */
    align-items: center; /* Center align blocks */
  }

  /* Adjustments for specific elements on smaller screens */
  /* Example: Modifying font sizes, padding, margins, etc. */
  .new-block-header h2 {
    font-size: 1.2rem;
  }

  .small-block {
    width: 100%; /* Occupy full width */
    margin-right: 0; /* Remove margin */
    margin-bottom: 1rem; /* Add space between blocks */
  }

  /* Adjustments for progress bars or other elements */
  /* Example: Making progress bars full-width */
  .progressss-bar {
    flex-direction: column;
  }

  .progress {
    border-radius: 0; /* Remove border-radius for progress bars */
    margin-bottom: 0.5rem; /* Add space between bars */
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .new-block {
    width: 48%; /* Occupy less width to fit multiple blocks in a row */
    margin-bottom: 1rem; /* Add space between blocks */
  }

  .new-block:nth-child(2n) {
    margin-right: 0; /* Remove margin for every second block in a row */
  }

  /* Adjustments for specific elements on tablets */
  /* Example: Modifying font sizes, padding, margins, etc. */
  .new-block-header h2 {
    font-size: 1.4rem;
  }

  .small-block {
    width: 100%; /* Occupy full width */
    margin-right: 0; /* Remove margin */
    margin-bottom: 1rem; /* Add space between blocks */
  }

  /* Adjustments for progress bars or other elements */
  /* Example: Making progress bars wider or other layout changes */
  .progressss-bar {
    flex-direction: row; /* Arrange bars in a row */
  }

  .progress {
    margin-right: 0.5rem; /* Add space between bars */
  }
}


/* CSS for invoices block */
.invoices-block-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.invoices-block-one,
.invoices-block-two {
  width: 48%; /* Adjust the width as needed */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 2px;
  box-sizing: border-box;
  background-color: #fff;
  overflow: auto;
}

.invoices-block-header {
  margin-bottom: 15px;
}

.invoices-table {
  width: 100%;
  border-collapse: collapse;
}

.invoices-table th,
.invoices-table td {
  border: none;
  padding: 8px 12px;
  text-align: left;
}

.invoices-table th {
  background-color: lightgray;
}

.light-gray-background {
  background-color: #f5f5f5;
}

/* Gray line between rows */
.invoices-table tr:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.view{
text-align: center;
}

.invoices-block-three {
  width: 48%; /* Adjust the width as needed */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  box-sizing: border-box;
  background-color: #fff;
  
}

.cell-container {
  display: flex;
  align-items: center;
}

/* Style for the rounded image */
.cell-container img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}